.home-page {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.home-section {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 64px 0 0 64px;
    position: fixed;
}

.home-content {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "rp-logo . rp-name"
        "quote . ."
        ". hero-title ."
        ". hero-flavour ."
        ". home-deco .";
    mix-blend-mode: difference;
    align-items: start;
}

.home-logo-link {
    display: block;
    width: fit-content;
    height: fit-content;
    grid-area: rp-logo;
}

.home-logo {
    width: fit-content;
    height: fit-content;
}

.home-name {
    grid-area: rp-name;
    text-align: right;
    align-self: start;
}

.home-quote {
    grid-area: quote;
}

.home-accents-bottom {
    grid-area: home-deco;
    display: flex;
    justify-content: space-between;
}

.home-accent-decal {
    margin: 0 0 auto 0;
    width: 4rem;
    aspect-ratio: 52/18;
}

.home-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    padding: 0 0 16px 0;
    width: 64px;
    height: 100%;
    max-height: calc(100vh - 64px);
    mix-blend-mode: difference;
    flex-shrink: 0;
}

.home-side-rotation-wrapper {
    width: 64px;
    height: 256px;
}

.home-side-flavour-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-side-flavour-text p {
    text-align: left;
    white-space: nowrap;
}

.home-side-text-brand {
    color: var(--c-BRND);
}

.home-side-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.home-side-deco-text {
    text-align: center;
}

.home-transition-section {
    padding-top: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}