.hero-section {
    display: flex;
    height: calc(100vh - 64px);
}

.hero-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    width: 64px;
}

.hero-content {
    flex: 1;
}

#landing-hero {
    padding: 64px 0 0 64px;
}

#landing-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "rp-logo . rp-name"
        "quote . ."
        ". hero-title ."
        ". hero-flavour ."
        ". hero-deco .";
}

#landing-home-link {
    display: block;
    width: fit-content;
    height: fit-content;
}

#landing-name {
    grid-area: rp-name;
    text-align: right;
}

#landing-quote {
    grid-area: quote;
}

#landing-title {
    grid-area: hero-title;
    margin: 0 auto;
    text-align: center;
    line-height: 0.7em;
}

#landing-subtitle {
    grid-area: hero-flavour;
    margin: auto;
    text-align: center;
}

#landing-accents-bottom {
    grid-area: hero-deco;
    display: flex;
    justify-content: space-between;
}

#landing-accent-decal {
    margin: 0 0 auto 0;
    width: 4rem;
    aspect-ratio: 52/18;
}

#landing-side {
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    padding: 0 0 16px 0;
    height: 896px;
    mix-blend-mode: difference;
}

#landing-side-rotation-wrapper {
    width: 64px;
    height: 256px;
}

#landing-side-flavour-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#landing-side-flavour-text p {
    text-align: left;
    white-space: nowrap;
}

#landing-side-text-brand {
    color: var(--c-BRND);
}

#landing-side-deco-text {
    text-align: center;
}

#landing-side-scroll {
    padding: 0 0 1rem 0;
}