.work-section {
    background-color: var(--c-DRK);
}

.work-header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 96px 96px 0 96px;
}

.work-header-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-line {
    padding: 0 4px;
}

.header-line-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}

.header-line-subtitle img {
    height: 16px;
}

.work-full-width {
    margin-top: 96px;
    width: 100vw;
}

.work-double {
    margin-top: 96px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.work-double img {
    object-fit: cover;
    max-width: calc(50vw - 12px);
}