#work-hero-side {
    mix-blend-mode: difference;
}

.icon-array-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0 4px;
}

#work-hero-side-skills {
    height: 230px;
}

.text-array {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
}

.text-array p {
    height: fit-content;
    width: fit-content;
}

.hero-side-text {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

#work-hero-content {
    display: flex;
    justify-content: end;
    align-items: end;
}

.hero-title-wrapper {
    display: flex;
    gap: 8px;
}