.hero-section {
    display: flex;
    height: 100vh;
}

.hero-content {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
}

.hero-banner {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

.hero-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 4rem 0;
    width: 4rem;
    mix-blend-mode: difference;
}

.icon-array-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0 4px;
}

.text-array {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
    height: 230px;
}

.text-array p {
    height: fit-content;
    width: fit-content;
}

.hero-side-text {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.hero-side-decal {
    width: 48px;
    height: 48px;
}

.hero-title-wrapper {
    display: flex;
    gap: 8px;
    margin: 0 3rem 4rem 0;
    mix-blend-mode: difference;
}