:root {
  --c-BRND: #2AD0D5;
  --c-LGHT: #EEE;
  --c-DRK: #0A0A0A;
  --c-BRND_TRNS: rgba(42, 208, 213, 0.1);
  --c-DRK_TRNS: rgba(17, 17, 17, 0.6);
  --c-LGHT_TRNS: rgba(238, 238, 238, 0.6);
  --c-TRNS: rgba(0, 0, 0, 0);
  --c-GOLD: radial-gradient(90deg. #FFBB00 0%, #A95B17 100%);

  --f-TITLE: 4em 'Kode Mono', monospace;
  --f-HEADER: 4rem "Orbitron", sans-serif;
  --f-FUNCTIONAL: 1rem 'Kode Mono', monospace;
  --f-PARAGRAPH: .9rem 'Orbitron', sans-serif;
  --f-TECH_SMALL: .75rem 'Kode Mono', monospace;
  --f-TECH_TINY: .5rem 'Kode Mono', monospace;

  --b-WDTH: 1px;
  --b-RADIUS: 8px;

  --s-SHDW: 0px 0px 20px var(--c-DRK_TRNS);
}

html {
  scrollbar-width: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--c-DRK);
  color: var(--c-LGHT);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
ul,
ol {
  margin: 0;
}

h1 {
  font: var(--f-TITLE);
  text-transform: uppercase;
  text-shadow: 0 0 20px var(--c-LGHT_TRNS);
}

h3 {
  font: var(--f-FUNCTIONAL);
  text-transform: uppercase;
}

p {
  font: var(--f-PARAGRAPH);
}

.tech-small {
  font: var(--f-TECH_SMALL);
}

.tech-tiny {
  font: var(--f-TECH_TINY);
}

.r90 {
  rotate: 90deg;
}

.r-90 {
  rotate: -90deg;
}

.tr90 {
  writing-mode: sideways-lr;
}

.logo-home-link {
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
}

.logo-header {
  width: fit-content;
  height: fit-content;
}

.hero-section {
  display: flex;
  height: calc(100vh - 64px);
}

.hero-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  width: 64px;
}

.hero-content {
  flex: 1;
}